@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

h1 {
  color: #ff3399;
}

.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%;
    margin:1.66%;
    background-color:#1E1E1E;
    overflow:hidden;
}

.content {
    position:absolute;
    height:100%;
    width:100%;
    font-size: 10em;
    color: #ff3399;
    text-align: center;
}

body {
    font-size:20px;
    font-family: 'Lato',verdana, sans-serif;
    color: #fff;
    background:#ECECEC;
}
